{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<h2>Iniciar sesión</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {{ form.username(class="form-control") }}

    <div style="position: relative;">
        {{ form.password.label }}
        {{ form.password(class="form-control", type="password", id="login_password") }}
        <span onclick="togglePassword('login_password', this)" style="position:absolute; right:10px; top:32px; cursor:pointer;">
            👁️
        </span>
    </div>

    {{ form.mfa_code.label }}
    {{ form.mfa_code(class="form-control") }}

    {{ form.submit(class="btn btn-primary mt-2") }}
</form>

<p>¿No tienes cuenta? <a href="{{ url_for('main.register') }}">Regístrate</a></p>

{% endblock %}
