{% extends 'base.html' %}
{% block title %}Gestión de Tickets{% endblock %}
{% block content %}
<h2>Tickets del sistema</h2>
<a href="{{ url_for('main.create_ticket') }}" class="btn btn-success mb-3">Crear nuevo ticket</a>
<a href="{{ url_for('main.assign_ticket') }}" class="btn btn-primary mb-3">Asignar un ticket</a>
<a href="{{ url_for('main.ticket_history') }}" class="btn btn-secondary mb-3">Ver historial de tickets</a>
<a href="{{ url_for('main.export_created_tickets_csv') }}" class="btn btn-outline-success mb-3">Exportar tickets sin asignar (CSV)</a>
<a href="{{ url_for('main.export_created_tickets_pdf') }}" class="btn btn-outline-danger mb-3">Exportar tickets sin asignar (PDF)</a>
<ul class="list-group">
    {% for ticket in tickets %}
        <li class="list-group-item">
            <strong>{{ ticket.title }}</strong> - Estado: {{ ticket.status }}<br>
            Asignado a: {{ ticket.assigned_to.username if ticket.assigned_to else 'Sin asignar' }}
        </li>
    {% endfor %}
</ul>

{% endblock %}